/* Menu movil */
.navbar__mobile-btn{
    display: none;
}

.navbar__mobile-list{
    display: none;
}

@media (max-width:1200px)
{
    .layout{
        max-width: 75%;
    }
    
    .footer__container{
        max-width: 75%;
    }
}

@media (max-width:1024px)
{
    .layout{
        max-width: 80%;
         grid-template-areas: 
        "header header"
        "nav nav"
        "marquee marquee"
        "slider slider"
        "high high"
        "videos videos"
        "carousel carousel"
        "main main"
        "aside aside";
    }

    /* CABECERA */
        .layout__header{
            display: flex;
            justify-content: center;
        }

    /* MENU */
    .navbar__list{
        display: none;
    }

    /* MENÚ MOVIL */
    .navbar__mobile-btn{
        background-color: var(--color-secundario);
        padding: 0.8rem 1.3rem;
        height: 5rem;
        display: flex;
        align-items: center;
    }

    .navbar__mobile-btn .fa-solid{
        cursor: pointer;
        font-size: 2.7rem;
    }

    .navbar__mobile-list{
        display: none;
        position: absolute;
        padding: 1.5rem;
        top: 100%;
        width: 100%;
        background-color: var(--color-bg-navbar);
        z-index: 99;
    }

    .mobile-list__item{
        padding: 0.5rem 2rem;
        border-bottom: 1px solid var(--color-border-list);
    }

    .mobile-list__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-list__link{
        width: 85%;
        font-weight: 400;
        line-height: 3rem;
        font-size: 1.3rem;
        text-transform: uppercase;
    }

    .moblie-list__icon{
        cursor: pointer;
    }

    .moblie-list__icon .fa-solid{
        color: var(--color-secundario);
        font-weight: bold;
    }

    /* SUBMENU MOVIL */
    .mobile-list__msubmenu{
        display: none;
    }

    .msubmenu__item{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-left: 4rem;
    }

    .msubmenu__link{
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 3rem;
        text-transform: uppercase;
    }

    /* SLIDER */
    .layout__slider{
        grid-template-areas: 
        "slider1 slider3 slider3 slider3"
        "slider2 slider3 slider3 slider3"
        "slider4 slider4 slider5 slider5";
        grid-template-columns: calc(35% - 0.9rem/4) calc(15% - 0.9rem/4) calc(25% - 0.9rem/4) calc(25% - 0.9rem/4);
    }

    .slider__link{
        height: 100%;
    }

    .slider__img{
        height: 100%;
        object-fit: cover;
    }

    /* HIGHLIGHTS */
    .highlights__posts{
        flex-wrap: wrap;
    }

    .highlights__post{
        flex-basis: calc(50% - 3rem/2);    
    }

    /* VIDEOS */
    .videos__container{
        flex-direction: column;
        gap: 0;
    }

    .videos__main-video{
        width: 100%;
    }

    .videos__list{
        align-self: stretch;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .videos__video{
        flex-basis: calc(50% - 2rem/2);
    }

    /* CARRUSEL */
    .carousel-games__item--hidden{
        display: none;
    }

    /* CONTENIDO PRINCIPAL */
    .layout__main{
        margin-right: 0;
    }

    /* BARRA LATERAL ASIDE */
    .layout__aside{
        margin-bottom: 3rem;
    }

    /* PIE DE PÁGINA FOOTER */
    .footer__container{
        max-width: 80%;
        flex-direction: column;
    }

    .footer__fslider{
        width: auto;
        height: auto;
    }

    .footer__text{
        width: 80%;
    }
}

@media (max-width:592px)
{
     /* SLIDER */
    .layout__slider{
        grid-template-areas: 
        "slider1"
        "slider2"
        "slider3"
        "slider4"
        "slider5";
        grid-template-columns: 100%;
        column-gap: 0;
    }

    /* HIGHLIGHTS */
    .highlights__post{
        flex-basis: 100%;    
    }

    /* VIDEOS */
    .main-video__yt-video{
        height: 20rem;
    }

    .videos__video{
        flex-basis: 100%;
    }

    /* CARRUSEL */
    .carousel-games__item--hidden-small{
        display: none;
    }

    /* NOTICIAS */
    .news__main-post{
        flex-direction: column;
    }

    .main-post__image{
        width: 100%;
    }

    .news__list{
        flex-direction: column;
    }

    /* JUEGOS */
    .games__game{
        flex-basis: 100%;
    }

    /* POSTS */
    .posts__container{
        flex-direction: column;
    }

    /* PIE DE PÁGINA FOOTER */
    .footer__text{
        width: 90%;
        white-space: normal;
    }
}

@media (max-width:395px)
{
    .layout{
        max-width: 95%;
    }

    .footer__container{
        max-width: 95%;
    }
}